{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Вход</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </form>
    <p class="text-center mt-3">
        Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
    </p>
</div>
{% endblock %}
