{% extends "base.html" %}

{% block content %}
<h1>Вход</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% if not form.username.data %}
    <p>У вас нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
{% endif %}
{% endblock %}
