{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        {% if category == 'danger' %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
